/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.primary-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 2rem;
}

.secondary-header {
  font-family: "Vollkorn", serif;
  font-weight: 500;
  font-style: italic;
  line-height: 1.375rem;
}

.button {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: -1px;
  margin: 1.875rem auto;
  padding: 1em rem;
  transition: all 500ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 53px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.button:hover {
  border-color: #878787;
  background-color: #878787;
  color: white;
}

.white {
  color: white;
  text-decoration: none;
}

.fade-in {
  opacity: 0;
  transition: all 1.2s ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.appear-left {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.6s ease-in;
}

.appear-left.appear {
  transform: translateX(0);
  opacity: 1;
}

.appear-right {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.6s ease-in;
}

.appear-right.appear {
  transform: translateX(0);
  opacity: 1;
}

.appear-up {
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.6s ease-in;
}

.appear-up.appear {
  transform: translateX(0);
  opacity: 1;
}

html {
  font-size: calc(15px + 0.390625vw);
}

body {
  background-color: white;
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9375rem;
  letter-spacing: -0.5px;
  line-height: 1.375rem;
}

.header {
  position: relative;
  min-height: 100vh;
  background-image: url("hero-background.jpg");
  background-position: center 0px;
  background-size: cover;
  background-color: lightblue;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: hidden;
}
.header .desktop-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(3px);
  width: 100%;
}
.header .desktop-nav-container .logo-white {
  display: block;
  aspect-ratio: 1;
  height: 3rem;
  margin-right: auto;
}
@media (min-width: 760px) {
  .header .desktop-nav-container .logo-white {
    height: 5rem;
  }
}
.header .desktop-nav-container .desktop-nav {
  display: none;
}
.header .desktop-nav-container .desktop-nav .nav-item {
  color: white;
  text-decoration: none;
  margin-inline: 0.5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.header .desktop-nav-container .desktop-nav .nav-item:hover {
  color: rgba(179, 179, 179, 0.8);
}
.header .logo-container {
  display: inline-block;
  height: 5rem;
  margin: 1rem;
  padding: 0.5rem;
  aspect-ratio: 1;
}
.header .logo-container .logo-white {
  display: none;
}
.header .nav-toggle {
  height: 2rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media (min-width: 760px) {
  .header .nav-toggle {
    font-size: 1.5rem;
  }
}
.header .primary-nav {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transform: translateX(101%);
  transition: 0.5s ease-in-out;
  position: fixed;
  padding-top: 2rem;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  background-color: white;
}
.header .primary-nav.active {
  opacity: 1;
  transform: translateX(0);
}
.header .primary-nav .logo-container {
  aspect-ratio: 1;
  height: 10rem;
}
@media (min-width: 760px) {
  .header .primary-nav .logo-container {
    height: 15rem;
  }
}
.header .primary-nav .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  width: 100vw;
  padding: 0;
}
@media (min-width: 760px) {
  .header .primary-nav .nav-list {
    gap: 3rem;
  }
}
.header .primary-nav .nav-list .nav-item {
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 1.5rem;
}
@media (min-width: 760px) {
  .header .primary-nav .nav-list .nav-item {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
.header .header-text {
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 0.75rem;
  text-align: right;
  color: white;
  margin-top: clamp(2rem, 2rem + 0.9vw, 4rem);
}
.header .header-text .hero-primary {
  font-size: 2rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
@media (min-width: 760px) {
  .header .header-text .hero-primary {
    font-size: 2.25rem;
    line-height: 3.5rem;
  }
}
@media (min-width: 1079px) {
  .header .header-text .hero-primary {
    font-size: 3rem;
    line-height: 4.5rem;
  }
}
.header .header-text .hero-secondary {
  font-size: 1.2rem;
}
@media (min-width: 960px) {
  .header .desktop-nav-container .desktop-nav {
    display: block;
    margin-left: 2rem;
  }
  .header .desktop-nav-container .desktop-nav .nav-list {
    display: flex;
  }
  .header .logo-white {
    margin: 1rem;
  }
  .header .nav-toggle {
    display: none;
  }
}
.header .arrow {
  position: absolute;
  top: 50%;
  color: white;
  margin-inline: 2rem;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
  background-color: transparent;
  aspect-ratio: 1;
  height: 30px;
  cursor: pointer;
}
.header #decrease {
  left: 0;
}
.header #increase {
  right: 0;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 2rem 20px;
}
@media (min-width: 760px) {
  .about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.about-section .about-card {
  width: 100%;
  min-height: 40vh;
  background-color: whitesmoke;
  text-align: center;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 760px) {
  .about-section .about-card {
    min-height: 35vh;
  }
}
@media (min-width: 1079px) {
  .about-section .about-card {
    min-height: 40vh;
  }
}
.about-section .about-card h2 {
  line-height: 1.5rem;
  margin-top: 0.5rem;
}
.about-section .about-card h5 {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
@media (min-width: 760px) {
  .about-section .about-card h5 {
    font-size: 1rem;
    margin-top: 0.75rem;
  }
}
.about-section .about-card p {
  font-size: 0.8rem;
}
@media (min-width: 760px) {
  .about-section .about-card p {
    font-size: 1rem;
  }
}
@media (min-width: 760px) {
  .about-section .about-card h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .about-section .about-card h5 {
    font-size: 2rem;
  }
}
.about-section .about-1 p {
  padding: 0.5rem;
}
@media (min-width: 760px) {
  .about-section .about-1 {
    grid-column: 2 / span 1;
  }
}
.about-section .about-2 {
  background-image: url(about-left.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
@media (min-width: 760px) {
  .about-section .about-2 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
}
.about-section .about-3 p {
  padding: 0.5rem;
}
.about-section .about-4 {
  background-image: url(about-right.jpeg);
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.about-section .about-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  background-color: transparent;
  min-height: 20vh;
}
@media (min-width: 760px) {
  .about-section .about-5 {
    grid-column: span 2;
  }
}
@media (min-width: 1023px) {
  .about-section .about-5 {
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / span 2;
    gap: 1rem;
  }
}
.about-section .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0.2rem;
}
.about-section .item h2 {
  font-size: 1.75rem;
}
.about-section .item h2,
.about-section .item h5 {
  padding-left: 1rem;
}

.services-section {
  margin: 1rem 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 760px) {
  .services-section .two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .services-section .two-grid .services-1 {
    width: 100%;
    height: 100%;
  }
  .services-section .three-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}
.services-section .services-item {
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem auto;
}
.services-section .services-item h2 {
  line-height: 1.5rem;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.75rem;
}
.services-section .services-item h5 {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.services-section .services-item p {
  font-size: 0.8rem;
}
@media (min-width: 1079px) {
  .services-section .services-item h2 {
    line-height: 2rem;
    font-size: 2.5rem;
  }
  .services-section .services-item h5,
  .services-section .services-item p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
}
.services-section .services-1 {
  background-image: url("services-1.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: whitesmoke;
  min-height: 200px;
}
.services-section .services-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem auto;
  background-color: #f5f5f5;
  min-height: 300px;
}
.services-section .services-2 p {
  padding: 0.5rem;
}
.services-section .services-3:hover,
.services-section .services-3:focus {
  background-color: #e3e1d3;
}
.services-section .services-4:hover,
.services-section .services-4:focus {
  background-color: #e0cece;
}
.services-section .services-5:hover,
.services-section .services-5:focus {
  background-color: #d1d7e0;
}

.quotes-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 2rem;
  margin: 1rem;
  background-color: whitesmoke;
  text-align: center;
  min-height: 300px;
}
.quotes-section h2 {
  margin: 5px 0;
  letter-spacing: -3px;
  line-height: 1.2;
}
.quotes-section h5 {
  margin-bottom: 1rem;
}
.quotes-section p {
  font-size: 20px;
}

.portfolio-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
}
@media (min-width: 760px) {
  .portfolio-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.portfolio-section .portfolio-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1 / 1;
}
@media (min-width: 1079px) {
  .portfolio-section .portfolio-item span {
    font-size: 0.75rem;
  }
}
.portfolio-section .pf-image {
  height: 100%;
  width: 100%;
}
.portfolio-section .pf-image a {
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.portfolio-section .pf-image a .hover-color {
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
.portfolio-section .pf-image a .hover-color .white-border {
  border: 3px solid white;
  width: 80%;
  height: 80%;
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-section .pf-image a .hover-color .white-border p {
  color: white;
  text-align: center;
  line-height: 2.5;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.portfolio-section .pf-image:hover .hover-color {
  visibility: visible;
}
.portfolio-section .pf-0 {
  padding: 0.5rem;
}
.portfolio-section .pf-0 h2 {
  line-height: 1;
  font-size: 1.2rem;
  letter-spacing: -1px;
}
.portfolio-section .pf-0 h5 {
  font-size: 1rem;
  letter-spacing: -1px;
}
.portfolio-section .pf-0 p {
  font-size: 0.5rem;
  line-height: 1;
  display: none;
}
@media (min-width: 1079px) {
  .portfolio-section .pf-0 p {
    display: inline-block;
  }
}
@media (min-width: 1079px) {
  .portfolio-section .pf-0 h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
  .portfolio-section .pf-0 h5 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
  .portfolio-section .pf-0 p {
    font-size: 0.8em;
  }
}
.portfolio-section .pf-1 {
  background-image: url("pf1.jpeg");
}
.portfolio-section .pf-2 {
  background-image: url("pf2.jpeg");
}
.portfolio-section .pf-3 {
  background-image: url("pf3.jpeg");
}
.portfolio-section .pf-4 {
  background-image: url("pf4.jpg");
}
.portfolio-section .pf-5 {
  background-image: url("pf5.jpg");
}
.portfolio-section .pf-6 {
  background-image: url("pf6.jpg");
}
.portfolio-section .pf-7 {
  background-image: url("pf7.jpg");
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.contact-section .contact-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-section .contact-div .contact-form {
  width: 80%;
}
.contact-section .contact-div .contact-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-section .contact-div .contact-form form label {
  text-transform: uppercase;
  display: block;
  width: 100%;
  font-weight: bold;
  margin: 5px auto;
  letter-spacing: -1px;
  line-height: 20px;
}
.contact-section .contact-div .contact-form form input {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 10px;
  line-height: 1.6;
  vertical-align: middle;
  border: 1px solid #ccc;
}
.contact-section .contact-div .contact-form form textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  height: auto;
  color: #555;
  background-color: #fff;
  overflow: auto;
}
.contact-section .contact-div .contact-form form .button {
  width: 20%;
  margin: 20px auto;
  text-align: center;
  padding: 0;
  border: 2px solid black;
}
@media (min-width: 1079px) {
  .contact-section .contact-div .contact-text h2 {
    font-size: 2.5rem;
  }
  .contact-section .contact-div .contact-text h5 {
    font-size: 1.2rem;
    margin: 1rem auto;
  }
}

.footer-section {
  background-color: #242424;
  margin: 1rem;
  padding: 20px;
}
.footer-section .footer-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
  text-align: center;
}
@media (min-width: 760px) {
  .footer-section .footer-div {
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr);
    align-items: stretch;
    justify-content: start;
  }
}
.footer-section .footer-div h6 {
  color: #7d7d7d;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 0;
}
.footer-section .footer-div .contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.footer-section .footer-div .contact-item h6 {
  margin-bottom: 0.75rem;
}
@media (min-width: 760px) {
  .footer-section .footer-div .contact-item {
    justify-content: stretch;
    align-items: center;
  }
}
.footer-section .footer-div .col-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.footer-section .footer-div .col-1 a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-section .footer-div .col-1 a img {
  height: 60px;
  width: 60px;
  aspect-ratio: 1 / 1;
}
.footer-section .footer-div .col-2 {
  display: flex;
  flex-direction: column;
}
.footer-section .footer-div .col-2 a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 5px;
  letter-spacing: -0.5px;
  line-height: 28px;
}
.footer-section .footer-div .col-3 p {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: -0.5px;
  font-weight: 400;
  margin-bottom: 5px;
}
.footer-section .footer-div .col-4 p {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: -0.5px;
  font-weight: 400;
  margin-bottom: 5px;
}
